In [1]:
import numpy as np
import scipy.stats as stats
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn
from pydataset import data
import warnings
warnings.filterwarnings("ignore")

### Exercise IV

In a jupyter notebook, classification_exercises.ipynb, use a python module (pydata or seaborn datasets) containing datasets as a source from the iris data. Create a pandas dataframe, df_iris, from this data.

print the first 3 rows

print the number of rows and columns (shape)

print the column names

print the data type of each column

print the summary statistics for each of the numeric variables. Would you recommend rescaling the data based on these statistics?

In [2]:
df_iris = data('iris')
df_iris_sn = sn.load_dataset('iris')
df_iris_sn.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [3]:
df_iris.columns = df_iris.columns.str.lower().str.replace('.', '_')
df_iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

In [4]:
if __name__ == '__main__':
    print('First 3 rows')
    print('------------')
    print(df_iris.head(3))
    print('==================================')
    print(f'There are {df_iris.shape[0]} rows and {df_iris.shape[1]} columns.')
    print('==================================')
    print('Column names')
    print('-------------')
    print(df_iris.dtypes)
    print('==================================')
    print('Data Frame Info')
    print('---------------')
    print(df_iris.info())
    print('==================================')
    print('Summary Statistics')
    print('------------------')
    print(df_iris.describe().T)
#nope, looks good to me

First 3 rows
------------
   sepal_length  sepal_width  petal_length  petal_width species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
==================================
There are 150 rows and 5 columns.
==================================
Column names
-------------
sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object
==================================
Data Frame Info
---------------
<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 1 to 150
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB
None
==================================
Summary Statistics
------------------
              count      mean       std  min  25%   50%  75%  max
sepal_length  150.0  5.843333  0.828066  4.3  5.1  5.80  6.4  7.9
sepal_width   150.0  3.057333  0.435866  2.0  2.8  3.00  3.3  4.4
petal_length  150.0  3.758000  1.765298  1.0  1.6  4.35  5.1  6.9
petal_width   150.0  1.199333  0.762238  0.1  0.3  1.30  1.8  2.5

### Exercise V

Read the Table1_CustDetails table from the Excel_Exercises.xlsx file into a dataframe named df_excel.

assign the first 100 rows to a new dataframe, df_excel_sample

print the number of rows of your original dataframe

print the first 5 column names

print the column names that have a data type of object

compute the range for each of the numeric variables.

In [5]:
#df_excel = pd.read_clipboard()
#df_excel_sample = df_excel.head(100)
df_excel = pd.read_excel('Excel_Exercises.xlsx', sheet_name = 'Table1_CustDetails')
df_excel_sample = df_excel.head(100)

In [6]:
if __name__ == '__main__':
    print(f'There are {df_excel.shape[0]} rows')
    print('==================================')
    print('These are the first 5 columns')
    print('-----------------------------')
    print(df_excel.columns[:5].to_list())
    print('==================================')
    print('These are the columns with data type "object"')
    print('---------------------------------------------')
    print(df_excel.columns[df_excel.dtypes == object])
    print('==================================')
    print('Numeric variable ranges')
    print('-----------------------')
    print(df_excel[df_excel.columns[df_excel.dtypes == float]].max() - df_excel[df_excel.columns[df_excel.dtypes == float]].min())
#space

There are 7049 rows
==================================
These are the first 5 columns
-----------------------------
['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents']
==================================
These are the columns with data type "object"
---------------------------------------------
Index(['customer_id', 'gender', 'partner', 'dependents', 'payment_type',
       'churn'],
      dtype='object')
==================================
Numeric variable ranges
-----------------------
monthly_charges     100.5
total_charges      8666.0
Unnamed: 12           NaN
Unnamed: 13           NaN
dtype: float64

In [7]:
df_excel.describe().T, df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        7049 non-null   object
 1   gender             7049 non-null   object
 2   is_senior_citizen  7049 non-null   int64
 3   partner            7049 non-null   object
 4   dependents         7049 non-null   object
 5   phone_service      7049 non-null   int64
 6   internet_service   7049 non-null   int64
 7   contract_type      7049 non-null   int64
 8   payment_type       7049 non-null   object
 9   monthly_charges    7049 non-null   float64
 10  total_charges      7038 non-null   float64
 11  churn              7049 non-null   object
 12  Unnamed: 12        0 non-null      float64
 13  Unnamed: 13        0 non-null      float64
dtypes: float64(4), int64(4), object(6)
memory usage: 771.1+ KB

(                    count         mean          std    min       25%      50%  \
 is_senior_citizen  7049.0     0.162009     0.368485   0.00    0.0000     0.00
 phone_service      7049.0     1.324585     0.642709   0.00    1.0000     1.00
 internet_service   7049.0     1.222585     0.779068   0.00    1.0000     1.00
 contract_type      7049.0     0.690878     0.833757   0.00    0.0000     0.00
 monthly_charges    7049.0    64.747014    30.099460  18.25   35.4500    70.35
 total_charges      7038.0  2283.043883  2266.521984  18.80  401.5875  1397.10
 Unnamed: 12           0.0          NaN          NaN    NaN       NaN      NaN
 Unnamed: 13           0.0          NaN          NaN    NaN       NaN      NaN

                         75%      max
 is_senior_citizen     0.000     1.00
 phone_service         2.000     2.00
 internet_service      2.000     2.00
 contract_type         1.000     2.00
 monthly_charges      89.850   118.75
 total_charges      3793.775  8684.80
 Unnamed: 12             NaN      NaN
 Unnamed: 13             NaN      NaN  ,
 None)

In [8]:
#df_excel.select_dtypes(include=[object]) <-- this is cool, mason
#df_excel[df_excel.columns[(df_excel.dtypes == float) | (df_excel.dtypes == int)]].max() - df_excel[df_excel.columns[(df_excel.dtypes == float) | (df_excel.dtypes == int)]].min()

### Exercise 6

Read the data from this google sheet into a dataframe, df_google

print the first 3 rows.

print the number of rows and columns.

print the column names.

print the data type of each column.

print the summary statistics for each of the numeric variables.

print the unique values for each of your categorical variables.

In [9]:
#df_google = pd.read_clipboard()
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')
df_google = pd.read_csv(csv_export_url)

In [10]:
if __name__ == '__main__':
    print('These are the first 3 rows:')
    print('---------------------------')
    print(df_google.head(3))
    print('===================================================')
    print(f'There are {df_google.shape[0]} rows and {df_google.shape[1]} columns')
    print('===================================================')
    print('These are the column names and data types:')
    print('------------------------------------------')
    print(df_google.dtypes)
    print('===================================================')
    print('Summary Statistics')
    print('------------------')
    print(df_google.describe().T)

These are the first 3 rows:
---------------------------
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Thayer)  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
===================================================
There are 891 rows and 12 columns
===================================================
These are the column names and data types:
------------------------------------------
PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
===================================================
Summary Statistics
------------------
             count        mean         std   min       25%       50%    75%  \
PassengerId  891.0  446.000000  257.353842  1.00  223.5000  446.0000  668.5
Survived     891.0    0.383838    0.486592  0.00    0.0000    0.0000    1.0
Pclass       891.0    2.308642    0.836071  1.00    2.0000    3.0000    3.0
Age          714.0   29.699118   14.526497  0.42   20.1250   28.0000   38.0
SibSp        891.0    0.523008    1.102743  0.00    0.0000    0.0000    1.0
Parch        891.0    0.381594    0.806057  0.00    0.0000    0.0000    0.0
Fare         891.0   32.204208   49.693429  0.00    7.9104   14.4542   31.0

                  max
PassengerId  891.0000
Survived       1.0000
Pclass         3.0000
Age           80.0000
SibSp          8.0000
Parch          6.0000
Fare         512.3292

In [11]:
if __name__ == '__main__':    
    for x in df_google.columns:
        print(f'{x} has {df_google[x].nunique()} unique values.')

PassengerId has 891 unique values.
Survived has 2 unique values.
Pclass has 3 unique values.
Name has 891 unique values.
Sex has 2 unique values.
Age has 88 unique values.
SibSp has 7 unique values.
Parch has 7 unique values.
Ticket has 681 unique values.
Fare has 248 unique values.
Cabin has 147 unique values.
Embarked has 3 unique values.

In [12]:
if __name__ == '__main__':
    print('Unique Values for Categorical Variables')
    print('---------------------------------------')
    print('Survived')
    print('--------')
    print(df_google.Survived.value_counts(dropna = False))
    print('========================')
    print('Pclass')
    print('------')
    print(df_google.Pclass.value_counts(dropna = False))
    print('========================')
    print('Sex')
    print('---')
    print(df_google.Sex.value_counts(dropna = False))
    print('========================')
    print('Embarked')
    print('--------')
    print(df_google.Embarked.value_counts(dropna = False))

Unique Values for Categorical Variables
---------------------------------------
Survived
--------
0    549
1    342
Name: Survived, dtype: int64
========================
Pclass
------
3    491
1    216
2    184
Name: Pclass, dtype: int64
========================
Sex
---
male      577
female    314
Name: Sex, dtype: int64
========================
Embarked
--------
S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64